<!DOCTYPE html>
<html lang="en">
	<%include head/head.html%>
	<body class="no-skin">
		<%include header/header.html%>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div class="main-content">
				<div class="main-content-inner">
					<%include bread-crumbs/bread-crumbs.html%>

					<div class="page-content">
						<%include ace-settings-container/ace-settings-container.html%>

						<div class="container center-block">
							<div class="">
								<!-- PAGE CONTENT BEGINS -->
								<div class="tabbable">
									<ul class="nav nav-tabs" id="myTab">
										<li class="active">
											<a data-toggle="tab" href="#home">
												<i class="green ace-icon fa fa-home bigger-120"></i>
												Home
											</a>
										</li>

										<li>
											<a data-toggle="tab" href="#messages">
												Messages
												<span class="badge badge-danger">4</span>
											</a>
										</li>
									</ul>

									<div class="tab-content">
										<div id="home" class="tab-pane fade in active">
											<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
										</div>

										<div id="messages" class="tab-pane fade">
											<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
										</div>

										<div id="dropdown1" class="tab-pane fade">
											<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
										</div>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<%include footer/footer.html%>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

			<!-- basic scripts -->
		<%include basic-scripts/basic-scripts.ejs%>

		<!-- inline scripts related to this page -->
	</body>
</html>
