<form class="" id="validation-form-1" method="get">
    <fieldset class="row">
        <div class="clearfix">
            <div class="col-xs-12 col-sm-12 no-padding">
                <div class="form-group col-xs-12 col-sm-6">
                    <label class="control-label no-padding-right" for="serial-num"> 草稿编号*</label>
                    <input type="text" value="draft01" id="serial-num" name="serial-num" class="form-control">
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <label class="control-label no-padding-right" for="date">访问日期类型*</label>
                    <select class="form-control" id="date" name="date">
                        <option value="0">Baseline</option>
                        <option value="1">Baseline</option>
                        <option value="2">Baseline</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                    <label class="control-label no-padding-right" for="describe">草稿描述*(Project Describe)</label>
                    <input type="text" id="describe" name="describe" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-12"><label class="control-label no-padding-right">入组*()</label></div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="mrnr">病历号规则*()</label>-->
            <select class="form-control" id="mrnr" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="bkgws">病历号位数*()</label>-->
            <select class="form-control" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="xmtxcd">姓名填写长度*()</label>-->
            <select class="form-control" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="sbf">申办方*()</label>-->
            <select class="form-control" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="mrnr">病历号规则*()</label>-->
            <select class="form-control" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="bkgws">病历号位数*()</label>-->
            <select class="form-control" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="xmtxcd">姓名填写长度*()</label>-->
            <select class="form-control" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-group col-xs-6 col-sm-3">
            <!--<label class="control-label no-padding-right" for="sbf">申办方*()</label>-->
            <select class="form-control" name="mrnr">
                <option value="">Value</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
    </fieldset>
    <div class="form-actions center">
        <button type="button" class="btn btn-sm btn-success">保存<i class="ace-icon fa fa-check bigger-110"></i></button>
        &nbsp; &nbsp; &nbsp;
        <button type="button" class="btn btn-sm"><i class="ace-icon fa fa-undo bigger-110"></i>取消</button>
    </div>
</form>