<div class="widget-container-col ui-sortable">
    <div class="widget-box ui-sortable-handle">
        <div class="widget-header">
            <h5 class="widget-title">基本信息</h5>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">项目*:</label>
                        <div class="col-sm-9" way-scope="formData">
                            <div class="col-xs-12 col-sm-8 no-padding">
                                <select class="form-control">
                                    <option value="0" way-data="select">SNG140ICR</option>
                                    <option value="1">SNG140ICR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">中心*:</label>
                        <div class="col-sm-9">
                            <div class="col-xs-12 col-sm-8 no-padding">
                                <select class="form-control">
                                    <option value="1">Site01-成都军区</option>
                                    <option value="1">Site01-成都军区</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">受试者编号*:</label>
                        <div class="col-sm-9"><input type="text" value="9900-13"  placeholder="" class="col-xs-12 col-sm-8"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">入组号*:</label>
                        <div class="col-sm-9"><input type="text"  placeholder="" class="col-xs-12 col-sm-8"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">姓名缩写*:</label>
                        <div class="col-sm-9"><input type="text" value="XYH"  placeholder="" class="col-xs-12 col-sm-8"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">受试者状态*:</label>
                        <div class="col-sm-9">
                            <div class="col-xs-12 col-sm-8 no-padding">
                                <select class="form-control" readonly>
                                    <option value="1">登记</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="widget-toolbox padding-8 clearfix">
                <div class="pull-right">
                    <button class="btn btn-sm btn-default">取消</button>
                    <button class="btn btn-sm btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>