<p class="search-bar  hidden-xs">
    <button type="button" class="btn btn-sm btn-primary">添加项字段</button>
    <span class="inline vertical-bottom">
       <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
       <!--<a class="ace-icon nav-search-icon smaller-20">搜索</a>-->
    </span>
    <span class="input-icon vertical-bottom">
        <select name="number" id="number" class="select-sm">
            <option selected="selected">有效</option>
            <option>无效</option>
        </select>
        <select name="lastperiod" id="lastperiod" class="select-sm hidden-xs">
            <option selected="selected">最近更新</option>
            <option>最近三个月</option>
        </select>
    </span>
</p>

<table class="table table-hover table-striped">
    <tr>
        <td style="width: 40px;" class="visible-xs"><div><img class="ace-icon-avt" src="/img/icon.png" alt=""></div></td>
        <td class="hidden-xs"><i class="material-icons">list</i></td>
        <td><div class="col-xs-12 col-sm-6">VASTC</div> <div class="col-xs-12 col-sm-6" >检查日期</div></td>
        <td class="hidden-xs">VS1</td>
        <td class="hidden-xs">文本框</td>
        <td class="hidden-xs">显示</td>
        <td class="hidden-xs">有效</td>
        <td class="hidden-xs">常规字段</td>
        <td class="visible-xs"><i class="material-icons">list</i></td>
    </tr>
    <tr>
        <td style="width: 40px;" class="visible-xs"><div><img class="ace-icon-avt" src="/img/icon.png" alt=""></div></td>
        <td class="hidden-xs"><i class="material-icons">list</i></td>
        <td><div class="col-xs-12 col-sm-6">VASTC</div> <div class="col-xs-12 col-sm-6" >检查日期</div></td>
        <td class="hidden-xs">VS1</td>
        <td class="hidden-xs">文本框</td>
        <td class="hidden-xs">显示</td>
        <td class="hidden-xs">有效</td>
        <td class="hidden-xs">常规字段</td>
        <td class="visible-xs"><i class="material-icons">list</i></td>
    </tr>
    <tr>
        <td style="width: 40px;" class="visible-xs"><div><img class="ace-icon-avt" src="/img/icon.png" alt=""></div></td>
        <td class="hidden-xs"><i class="material-icons">list</i></td>
        <td><div class="col-xs-12 col-sm-6">VASTC</div> <div class="col-xs-12 col-sm-6" >检查日期</div></td>
        <td class="hidden-xs">VS1</td>
        <td class="hidden-xs">文本框</td>
        <td class="hidden-xs">显示</td>
        <td class="hidden-xs">有效</td>
        <td class="hidden-xs">常规字段</td>
        <td class="visible-xs"><i class="material-icons">list</i></td>
    </tr>
    <tr>
        <td style="width: 40px;" class="visible-xs"><div><img class="ace-icon-avt" src="/img/icon.png" alt=""></div></td>
        <td class="hidden-xs"><i class="material-icons">list</i></td>
        <td><div class="col-xs-12 col-sm-6">VASTC</div> <div class="col-xs-12 col-sm-6" >检查日期</div></td>
        <td class="hidden-xs">VS1</td>
        <td class="hidden-xs">文本框</td>
        <td class="hidden-xs">显示</td>
        <td class="hidden-xs">有效</td>
        <td class="hidden-xs">常规字段</td>
        <td class="visible-xs"><i class="material-icons">list</i></td>
    </tr>
</table>