<div id="sidebar" class="sidebar       h-sidebar                navbar-collapse collapse  ace-save-state">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <ul class="nav nav-list">
        <li class="hover  hidden-xs">
            <a href="javascript:;">
                <span class="menu-text"> <img src="/img/logo.png" alt="logo2" style="height: 20px;"> </span>
            </a>
        </li>

        <li class="hover">
            <a href="javascript:;">
                <span class="menu-text"> 报表 </span>
            </a>

        </li>

        <li class="hover">
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">
                    项目管理
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>
        </li>

        <li class="hover active">
            <a href="#" class="dropdown-toggle">
                <span class="menu-text"> 中心管理 </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

        </li>

        <li class="hover">
            <a href="#" class="dropdown-toggle">
                <span class="menu-text"> 用户管理 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

        </li>

        <li class="hover">
            <a href="#" class="dropdown-toggle">
                <span class="menu-text"> 药物管理 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>
        </li>

        <li class="hover">
            <a href="#" class="dropdown-toggle">
                <span class="menu-text"> EDC设置 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>
        </li>

        <li class="hover">
            <a href="javascript:;">
                <span class="menu-text"> 关于 </span>
            </a>

        </li>

        <li class="hover">
            <a href="javascript:;">
                <span class="menu-text"> 退出 </span>
            </a>

        </li>

    </ul>
    <!-- /.nav-list -->

    <!--<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">-->
    <!--<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"-->
    <!--data-icon2="ace-icon fa fa-angle-double-right"></i>-->
    <!--</div>-->
</div>
<%include sidebar2.ejs%>