<div class="well">
    <div class="timeline-container">
        <div class="timeline-items">
            <div class="timeline-item clearfix">
                <div class="timeline-info"><i class="timeline-indicator btn btn-primary no-hover normal">01</i></div>
                <div  class="timeline-title">
                    <h4>基本信息</h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                            <div class="form-group col-xs-12 col-sm-3">
                                <label class="control-label no-padding-right" for="serial-num">数据块编号*</label>
                                <input type="text" value="SV" id="serial-num" name="serial-num" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 col-sm-3">
                                <label class="control-label no-padding-right" for="bpm">数据块名称*</label>
                                <input type="text" id="bpm" name="bpm" class="form-control">
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="space-16 hidden-xs"></div>
                                <div class="checkbox no-margin-top"><label><input type="checkbox" value="">有效</label></div>
                            </div>
                            <div class="col-xs-6 col-sm-3 ">
                                <div class="space-16 hidden-xs"></div>
                                <div class="checkbox  no-margin-top"><label><input type="checkbox" value="">签名</label></div>
                            </div>
                            <div class="col-xs-12">
                                <a class="btn btn-white btn-sm">下一步</a>
                                <div class="space"></div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item clearfix">
                <div class="timeline-info"><i class="timeline-indicator btn btn-primary no-hover normal">02</i></div>
                <div  class="timeline-title">
                    <h4>上传图片权限</h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">Option</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">Option</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="space"></div>
                            <a class="btn btn-white btn-sm">上一步</a>
                            <a class="btn btn-white btn-sm">下一步</a>
                            <div class="space"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item clearfix">
                <div class="timeline-info"><i class="timeline-indicator btn btn-primary no-hover normal">03</i></div>
                <div  class="timeline-title">
                    <h4>下载图片权限</h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRC</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRC</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-6 col-sm-3 ">
                            <div class="checkbox no-margin-bottom"><label><input type="checkbox" value="">CRA</label></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="space"></div>
                            <a class="btn btn-white btn-sm">上一步</a>
                            <a class="btn btn-white btn-sm">保存</a>
                            <div class="space"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.timeline-items -->
    </div>
</div>
