table select { padding: 0 6px 0 0; height: auto;border: none; background-color: transparent; }
table tr:last-child td { border-bottom: 1px solid #ddd; }
.table>tbody>tr>td, .table>tbody>tr>th, 
.table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}
.lbl.middle:after ,
.lbl.middle:before { content: '' }
/*.search-bar .btn.btn-sm,*/
.search-bar .nav-search-input{
	height: 33px;
}
.search-bar .select-sm,
.search-bar .select-sm option{
	height: 33px;
	line-height: 27px;
	padding-top: 0;
	padding-bottom: 0;
}





