<ul class="list-group"  id="group-grey">
    <li class="list-group-item table">
        <div class="table-row">
            <div class="table-cell">
                <!--<div class="img-box inline"><img class="pull-left" alt="Alex Doe's avatar" src="/assets/images/avatars/avatar5.png"></div>-->
                <div class="inline">
                    <ins><span>Site01[模板数12]</span></ins>
                    <div class="address">成都军区总医院</div>
                </div>
            </div>
            <div class="table-cell text-right">
                <div class="dropdown">
                    <a class="grey btn-down-icon" href="#" data-toggle="dropdown"><i class="material-icons">add</i></a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                        <li>
                            <a href="#" class="blue">选择Site001的模板</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li style="padding: 0 11px;">
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>

                        </li>
                        <li role="separator" class="divider no-margin-bottom"></li>
                        <li class="text-right">
                            <div class="btn-group choose-btn-group">
                                <a class="btn btn-white btn-xs btn-no-border no-hover">取消</a>
                                <a class="btn btn-white btn-xs btn-no-border no-hover">保存</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>

</ul>

<ul class="list-group hide" id="group-primary">
    <li class="list-group-item table">
        <div class="table-row">
            <div class="table-cell">
                <div class="img-box inline"><img class="pull-left" alt="Alex Doe's avatar" src="/assets/images/avatars/avatar5.png"></div>
                <div class="inline">
                    <ins><span>Site01[模板数12]</span></ins>
                    <div class="address">成都军区总医院</div>
                </div>
            </div>
            <div class="table-cell text-right">
                <div class="dropdown">
                    <a class="grey btn-down-icon" href="#" data-toggle="dropdown"><i class="material-icons">add</i></a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                        <li>
                            <a href="#" class="blue">选择Site001的模板</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li style="padding: 0 11px;">
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>
                            <div class="radio no-margin">
                                <label class="choose-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <img class="choose-img" src="/img/1.jpg" alt="">图片名称
                                </label>
                            </div>

                        </li>
                        <li role="separator" class="divider no-margin-bottom"></li>
                        <li class="text-right">
                            <div class="btn-group choose-btn-group">
                                <a class="btn btn-white btn-xs btn-no-border no-hover">取消</a>
                                <a class="btn btn-white btn-xs btn-no-border no-hover">保存</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>

</ul>
