<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                <i class="ace-icon fa fa-angle-down bigger-110 pull-right" data-icon-hide="ace-icon fa fa-angle-up" data-icon-show="ace-icon fa fa-angle-down"></i>
                &nbsp;查看人员
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseFive">
        <div class="panel-body">
            <form class="row" role="form">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label><input type="checkbox"/>全选</label>&nbsp;
                        <label><input type="checkbox"/>反选</label>
                    </div>
                    <hr>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>Jack</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>read only</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>REST</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>DM1</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>Jack</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>read only</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>REST</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox"/>DM1</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>