<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <i class="ace-icon fa fa-angle-down bigger-110 pull-right" data-icon-hide="ace-icon fa fa-angle-up" data-icon-show="ace-icon fa fa-angle-down"></i>
                &nbsp;校对与审核
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseFour">
        <div class="panel-body">
            <form class="row" role="form">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label for="form-field-21"><input type="checkbox" checked placeholder=""/>校对</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label><input type="checkbox" checked placeholder=""/>PI Review</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label><input type="checkbox" checked placeholder=""/>DM Review</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label><input type="checkbox" checked placeholder=""/>PI Review</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label><input type="checkbox" checked placeholder=""/>DM Review</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>