<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSenven">
                <i class="ace-icon fa fa-angle-down bigger-110 pull-right" data-icon-hide="ace-icon fa fa-angle-up" data-icon-show="ace-icon fa fa-angle-down"></i>
                &nbsp;逻辑核查
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseSenven">
        <div class="panel-body">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                    <li>LB177[B超检查日期（第一周期第28天）]</li>
                </ul>
            </div>
        </div>
    </div>
</div>