<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <i class="ace-icon fa fa-angle-down bigger-110 pull-right" data-icon-hide="ace-icon fa fa-angle-up" data-icon-show="ace-icon fa fa-angle-down"></i>
                变量
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseTwo">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-21">变量编号<b class="red">*</b>:</label>
                    <div class="col-sm-9">
                        <span class="input-icon no-padding-left input-icon-right col-xs-12 col-sm-8 no-padding-right">
                            <input type="text" class="form-control" id="form-field-21" placeholder=""/>
                             <i class="ace-icon material-icons green">done</i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-22">格式类型<b class="red">*</b>:</label>
                    <div class="col-sm-9">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <select class="form-control" id="form-field-22" name="form-field-22">
                                <option value="1">SVSTDTC</option>
                                <option value="2">SVSTDTC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-23">变量格式<b class="red">*</b>:</label>
                    <div class="col-sm-9"><input type="text" id="form-field-23" placeholder="" class="col-xs-12 col-sm-8"/></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-24">数据字典<b class="red">*</b>:</label>
                    <div class="col-sm-9">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <select class="form-control" id="form-field-24">
                                <option value="1">SVSTDTC</option>
                                <option value="2">SVSTDTC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-25">单位字典<b class="red">*</b>:</label>
                    <div class="col-sm-9">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <select class="form-control" id="form-field-25">
                                <option value="1">SVSTDTC</option>
                                <option value="2">SVSTDTC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-26">编码字典<b class="red">*</b>:</label>
                    <div class="col-sm-9">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <select class="form-control" id="form-field-26">
                                <option value="MedDRA/E[16.1]">MedDRA/E[16.1]</option>
                                <option value="MedDRA/E[16.1]">MedDRA/E[16.1]</option>
                                <option value="MedDRA/E[16.1]">MedDRA/E[16.1]</option>
                                <option value="MedDRA/E[16.1]">MedDRA/E[16.1]</option>
                                <option value="MedDRA/E[16.1]">MedDRA/E[16.1]</option>
                                <option value="MedDRA/E[16.1]">MedDRA/E[16.1]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>