<p class="search-bar hidden-xs">
    <button type="button" class="btn btn-sm btn-primary">添加受试者</button>
    <span class="inline vertical-bottom">
       <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
       <!--<a class="ace-icon nav-search-icon smaller-20">搜索</a>-->
    </span>
    <span class="input-icon vertical-bottom">
        <select name="number" id="number" class="select-sm">
            <option selected="selected">成都去区总医院</option>
            <option>成都去区总医院</option>
        </select>
        <select name="lastperiod" id="lastperiod" class="select-sm hidden-xs">
            <option selected="selected">最近更新</option>
            <option>最近三个月</option>
        </select>
    </span>
</p>

<div id="accordion" class="accordion-style1 panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle grey" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <!--<i class="ace-icon fa fa-angle-down bigger-110 pull-right" data-icon-hide="ace-icon fa fa-angle-up" data-icon-show="ace-icon fa fa-angle-down"></i>-->
                    <table class="table table-condensed no-margin-bottom">
                        <tr class="no-border">
                            <td class="no-border" style="width: 40px;"><div><img class="ace-icon-avt" src="/img/icon.png" alt=""></div></td>
                            <td class="no-border  vertical-middle" >
                                <div >VASTC</div>
                                <div>检查日期</div>
                            </td>
                            <td class="no-border text-right vertical-middle">
                                <i class="ace-icon fa fa-angle-down bigger-180 pull-right" data-icon-hide="ace-icon fa fa-angle-up" data-icon-show="ace-icon fa fa-angle-down"></i>
                            </td>
                        </tr>
                    </table>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in" id="collapse1">
            <div class="panel-body">
                其他内容<br>
                其他内容<br>
                其他内容<br>
                其他内容<br>
                其他内容<br>
                其他内容<br>
            </div>
        </div>
    </div>
</div>