<div class="hr hr-18 hr-double dotted"></div>
<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>草稿设置
        </h4>

        <div class="widget-toolbar">
            <div class="widget-menu">
                <a href="#" data-action="settings" data-toggle="dropdown"><i class="ace-icon fa fa-bars"></i></a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                    <li><a data-toggle="tab" href="#dropdown1">Option#1</a></li>
                    <li><a data-toggle="tab" href="#dropdown2">Option#2</a></li>
                </ul>
            </div>
            <a href="#" data-action="settings"><i class="ace-icon fa fa-cog"></i></a>
            <a href="#" data-action="reload"><i class="ace-icon fa fa-refresh"></i></a>
            <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
            <!--<a href="#" data-action="close"><i class="ace-icon fa fa-times"></i></a>-->
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
             <!--<h3 class="lighter block green">人口学统计</h3>-->
            <%include setting.ejs%>
        </div>
        <!-- /.widget-main -->
    </div>
    <!-- /.widget-body -->
</div>
<div class="hr hr-18 hr-double dotted"></div>
<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>基本信息
        </h4>

        <div class="widget-toolbar">
            <div class="widget-menu">
                <a href="#" data-action="settings" data-toggle="dropdown"><i class="ace-icon fa fa-bars"></i></a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                    <li><a data-toggle="tab" href="#dropdown1">Option#1</a></li>
                    <li><a data-toggle="tab" href="#dropdown2">Option#2</a></li>
                </ul>
            </div>
            <a href="#" data-action="settings"><i class="ace-icon fa fa-cog"></i></a>
            <a href="#" data-action="reload"><i class="ace-icon fa fa-refresh"></i></a>
            <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
            <!--<a href="#" data-action="close"><i class="ace-icon fa fa-times"></i></a>-->
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <!--<h3 class="lighter block green">人口学统计</h3>-->
            <%include basic-info.ejs%>
        </div>
        <!-- /.widget-main -->
    </div>
    <!-- /.widget-body -->
</div>