<!DOCTYPE html>
<html lang="en">

<head>
    <% include head.ejs %>
</head>

<body class="no-skin">
    <% include navbar.ejs %>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <% include sidebar.ejs %>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">Other Pages</a>
                        </li>
                        <li class="active">Blank Page(no need)</li>
                    </ul>
                    <!-- /.breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div>
                    <!-- /.nav-search -->
                </div>

                <div class="page-content">
                    <!--% include ace-settings-container.ejs %-->

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <p>
                                <button type="button" class="btn btn-sm btn-primary">
                                    添加项目
                                </button>
                                <!-- <form class="form-search"> -->
                                    <span class="input-icon">
                                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                                    </span>
                                <!-- </form> -->
                                <span class="input-icon">
                                    <select name="number" id="number" class="select-sm hidden-xs">
                                        <option selected="selected">有效</option>
                                        <option>无效</option>
                                    </select>
                                </span>
                                <select name="lastperiod" id="lastperiod" class="select-sm hidden-xs">
                                    <option selected="selected">最近更新</option>
                                    <option>最近三个月</option>
                                </select>
                                <span class="pull-right hidden-xs" style="line-height: 2.5">
                                     1 - 5 of 15 &nbsp;
                                    <i class="ace-icon fa fa-angle-left bigger-125"></i>
                                    &nbsp;
                                    <i class="ace-icon fa fa-angle-right bigger-125"></i>
                                </span>
                            </p>
                            <div class="no-padding">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead class="thin-border-bottom">
                                        <tr>
                                            <th>
                                                <i class="ace-icon fa fa-user"></i>
                                                User
                                            </th>
                            
                                            <th>
                                                <i>@</i>
                                                Email
                                            </th>
                                            <th class="hidden-480">Status</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        <tr>
                                            <td class="">Alex</td>
                            
                                            <td>
                                                <a href="#">alex@email.com</a>
                                            </td>
                            
                                            <td class="hidden-480">
                                                <label class="height-24px">
                                                    <input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                        </tr>
                            
                                        <tr>
                                            <td class="">Fred</td>
                            
                                            <td>
                                                <a href="#">fred@email.com</a>
                                            </td>
                            
                                            <td class="hidden-480">
                                                <label class="height-24px">
                                                    <input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                        </tr>
                            
                                        <tr>
                                            <td class="">Jack</td>
                            
                                            <td>
                                                <a href="#">jack@email.com</a>
                                            </td>
                            
                                            <td class="hidden-480">
                                                <label class="height-24px">
                                                    <input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                        </tr>
                            
                                        <tr>
                                            <td class="">John</td>
                            
                                            <td>
                                                <a href="#">john@email.com</a>
                                            </td>
                            
                                            <td class="hidden-480">
                                                <label class="height-24px">
                                                    <input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                        </tr>
                            
                                        <tr>
                                            <td class="">James</td>
                            
                                            <td>
                                                <a href="#">james@email.com</a>
                                            </td>
                            
                                            <td class="hidden-480">
                                                <label class="height-24px">
                                                    <input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- PAGE CONTENT ENDS -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
        </div>
        <!-- /.main-content -->

        <% include footer.ejs %>
    </div>
    <!-- /.main-container -->

    <% include basic-scripts.ejs %>

    <!-- page specific plugin scripts -->
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>

    <!-- inline scripts related to this page -->
    <script>
        jQuery(function ($) {
            //selectmenu
            // $("#number").css('width', '200px')
                // .selectmenu({ position: { my: "left bottom", at: "left top" } })
        })
    </script>
    
</body>
</html>