<p>
    <button type="button" class="btn btn-sm btn-primary">添加项目</button>
</p>

<table class="table table-hover">
    <tr>
        <td>v0.0.1</td>
        <td class="">
            <div class="col-sm-4 col-xs-12"><a  href="#">v0.0.1(46634208981423)</a></div>
            <div class="col-sm-4  hidden-xs">by yanbin.zhu</div>
            <div class="col-sm-4 col-xs-12">2018.12.14</div>
        </td>
        <td class="text-right visible-xs">
            <div class="action-buttons file-options hidden">
                <a href="" class="dark"><i class="material-icons ">delete</i>&nbsp;&nbsp;<span>删除</span></a>
                <a href="" class="dark"><i class="material-icons ">cloud_upload</i>&nbsp;&nbsp;<span>推送</span></a>
                <a href="" class="dark"><i class="material-icons ">forward</i>&nbsp;&nbsp;<span>迁移</span></a>
                <a href="" class="dark"><i class="material-icons ">content_copy</i>&nbsp;&nbsp;<span>覆盖</span></a>
            </div>
            <label  class="more-vert-label"><a><i class="material-icons dark">more_vert</i></a></label>
        </td>
    </tr>
    <tr>
        <td>v0.0.1</td>
        <td class="">
            <div class="col-sm-4 col-xs-12"><a  href="#">v0.0.1(46634208981423)</a></div>
            <div class="col-sm-4  hidden-xs">by yanbin.zhu</div>
            <div class="col-sm-4 col-xs-12">2018.12.14</div>
        </td>
        <td class="text-right visible-xs">
            <div class="action-buttons file-options hidden">
                <a href="" class="dark"><i class="material-icons ">delete</i>&nbsp;&nbsp;<span>删除</span></a>
                <a href="" class="dark"><i class="material-icons ">cloud_upload</i>&nbsp;&nbsp;<span>推送</span></a>
                <a href="" class="dark"><i class="material-icons ">forward</i>&nbsp;&nbsp;<span>迁移</span></a>
                <a href="" class="dark"><i class="material-icons ">content_copy</i>&nbsp;&nbsp;<span>覆盖</span></a>
            </div>
            <label  class="more-vert-label"><a><i class="material-icons dark">more_vert</i></a></label>
        </td>
    </tr>
    <tr>
        <td>v0.0.1</td>
        <td class="">
            <div class="col-sm-4 col-xs-12"><a  href="#">v0.0.1(46634208981423)</a></div>
            <div class="col-sm-4  hidden-xs">by yanbin.zhu</div>
            <div class="col-sm-4 col-xs-12">2018.12.14</div>
        </td>
        <td class="text-right visible-xs">
            <div class="action-buttons file-options hidden">
                <a href="" class="dark"><i class="material-icons ">delete</i>&nbsp;&nbsp;<span>删除</span></a>
                <a href="" class="dark"><i class="material-icons ">cloud_upload</i>&nbsp;&nbsp;<span>推送</span></a>
                <a href="" class="dark"><i class="material-icons ">forward</i>&nbsp;&nbsp;<span>迁移</span></a>
                <a href="" class="dark"><i class="material-icons ">content_copy</i>&nbsp;&nbsp;<span>覆盖</span></a>
            </div>
            <label  class="more-vert-label"><a><i class="material-icons dark">more_vert</i></a></label>
        </td>
    </tr>
    <tr>
        <td>v0.0.1</td>
        <td class="">
            <div class="col-sm-4 col-xs-12"><a  href="#">v0.0.1(46634208981423)</a></div>
            <div class="col-sm-4  hidden-xs">by yanbin.zhu</div>
            <div class="col-sm-4 col-xs-12">2018.12.14</div>
        </td>
        <td class="text-right visible-xs">
            <div class="action-buttons file-options hidden">
                <a href="" class="dark"><i class="material-icons ">delete</i>&nbsp;&nbsp;<span>删除</span></a>
                <a href="" class="dark"><i class="material-icons ">cloud_upload</i>&nbsp;&nbsp;<span>推送</span></a>
                <a href="" class="dark"><i class="material-icons ">forward</i>&nbsp;&nbsp;<span>迁移</span></a>
                <a href="" class="dark"><i class="material-icons ">content_copy</i>&nbsp;&nbsp;<span>覆盖</span></a>
            </div>
            <label  class="more-vert-label"><a><i class="material-icons dark">more_vert</i></a></label>
        </td>
    </tr>
    <tr>
        <td>v0.0.1</td>
        <td class="">
            <div class="col-sm-4 col-xs-12"><a  href="#">v0.0.1(46634208981423)</a></div>
            <div class="col-sm-4  hidden-xs">by yanbin.zhu</div>
            <div class="col-sm-4 col-xs-12">2018.12.14</div>
        </td>
        <td class="text-right visible-xs">
            <div class="action-buttons file-options hidden">
                <a href="" class="dark"><i class="material-icons ">delete</i>&nbsp;&nbsp;<span>删除</span></a>
                <a href="" class="dark"><i class="material-icons ">cloud_upload</i>&nbsp;&nbsp;<span>推送</span></a>
                <a href="" class="dark"><i class="material-icons ">forward</i>&nbsp;&nbsp;<span>迁移</span></a>
                <a href="" class="dark"><i class="material-icons ">content_copy</i>&nbsp;&nbsp;<span>覆盖</span></a>
            </div>
            <label  class="more-vert-label"><a><i class="material-icons dark">more_vert</i></a></label>
        </td>
    </tr>

</table>