<div class="space-10"></div>
<p>
    <button type="button" class="btn btn-sm btn-primary">添加草稿</button>
</p>

<table class="table table-striped table-hover">
    <tr>
        <td><div class="col-xs-12 col-sm-6">draf01</div>
            <div class="col-xs-12 col-sm-6" ><a  href="#">yanbian.zhu</a></div>
        </td>
        <td class="hidden-xs">2018-02-01</td>
        <td class="text-right">
            <div class="hidden-xs action-buttons file-options">
                <a href="" class="dark"><i class="material-icons ">file_upload</i><span>上传</span></a>
                <a href="" class="dark"><i class="material-icons dark">file_download</i><span>下载</span></a>
            </div>
            <label  class="visible-xs more-vert-label"><a><i class="material-icons dark">more_vert</i></a></label>
        </td>
    </tr>

</table>