<div class="hr hr-18 hr-double dotted"></div>
<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>基本信息
        </h4>

        <div class="widget-toolbar">
            <div class="widget-menu">
                <a href="#" data-action="settings" data-toggle="dropdown"><i class="ace-icon fa fa-bars"></i></a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                    <li><a data-toggle="tab" href="#dropdown1">Option#1</a></li>
                    <li><a data-toggle="tab" href="#dropdown2">Option#2</a></li>
                </ul>
            </div>
            <a href="#" data-action="settings"><i class="ace-icon fa fa-cog"></i></a>
            <a href="#" data-action="reload"><i class="ace-icon fa fa-refresh"></i></a>
            <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
            <!--<a href="#" data-action="close"><i class="ace-icon fa fa-times"></i></a>-->
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
             <!--<h3 class="lighter block green">人口学统计</h3>-->

            <form class="" id="validation-form-1" method="get">
                <fieldset class="row">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-9 no-padding">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label no-padding-right" for="serial-num"> 项目编号*</label>
                                <input type="text" id="serial-num" name="serial-num" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label no-padding-right" for="bpm">项目名称*(Project Name)</label>
                                <input type="text" id="bpm" name="bpm" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label no-padding-right" for="describe">项目描述*(Project Describe)</label>
                                <input type="text" id="describe" name="describe" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 hidden-xs">
                            <div>
                                <span class="profile-picture">
                                    <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="/assets/images/avatars/profile-pic.jpg">
                                </span>
                                <div class="space-4"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-6 col-sm-3">
                        <label class="control-label no-padding-right" for="mrnr">病历号规则*()</label>
                        <select class="form-control" id="mrnr" name="mrnr">
                            <option value="">Value</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3">
                        <label class="control-label no-padding-right" for="bkgws">病历号位数*()</label>
                        <input type="text" value="1~20" id="bkgws" name="bkgws" class="form-control">
                    </div>
                    <div class="form-group col-xs-6 col-sm-3">
                        <label class="control-label no-padding-right" for="xmtxcd">姓名填写长度*()</label>
                        <input type="text" value="1~20" id="xmtxcd" name="xmtxcd" class="form-control">
                    </div>
                    <div class="form-group col-xs-6 col-sm-3">
                        <label class="control-label no-padding-right" for="sbf">申办方*()</label>
                        <input type="text" id="sbf" name="sbf" class="form-control">
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="checkbox"><label><input type="checkbox" value="">入组号</label></div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="checkbox"><label><input type="checkbox" value="">异步逻辑核查</label></div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="checkbox"><label><input type="checkbox" value="">病人日志</label></div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="checkbox"><label><input type="checkbox" value="">Specify分割</label></div>
                    </div>
                </fieldset>
                <div class="form-actions center">
                    <button type="button" class="btn btn-sm btn-success">保存<i class="ace-icon fa fa-check bigger-110"></i></button>
                    &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-sm"> <i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
                </div>
            </form>

        </div>
        <!-- /.widget-main -->
    </div>
    <!-- /.widget-body -->
</div>
<div class="hr hr-18 hr-double dotted hidden-xs"></div>
<div class="widget-box hidden-xs">
    <div class="widget-header">
        <h4 class="widget-title">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>高级搜索设置
        </h4>

        <div class="widget-toolbar">
            <div class="widget-menu">
                <a href="#" data-action="settings" data-toggle="dropdown"><i class="ace-icon fa fa-bars"></i></a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                    <li><a data-toggle="tab" href="#dropdown1">Option#1</a></li>
                    <li><a data-toggle="tab" href="#dropdown2">Option#2</a></li>
                </ul>
            </div>
            <a href="#" data-action="settings"><i class="ace-icon fa fa-cog"></i></a>
            <a href="#" data-action="reload"><i class="ace-icon fa fa-refresh"></i></a>
            <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
            <!--<a href="#" data-action="close"><i class="ace-icon fa fa-times"></i></a>-->
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <!--<h3 class="lighter block green">人口学统计</h3>-->
            
        </div>
        <!-- /.widget-main -->
    </div>
    <!-- /.widget-body -->
</div>